[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://packages.frc1721.org"
verify_ssl = true
name = "frc1721"

[packages]
wpilib = "2025.2.1"
robotpy = "2025.2.1.0"
phoenix6 = "25.2.1"
robotpy-rev = "2025.0.2"

[dev-packages]

[requires]
python_version = "3.13"
