[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://packages.frc1721.org"
verify_ssl = true
name = "frc1721"

[packages]
wpilib = "2025.3.2.0"
phoenix6 = "25.3.1"
robotpy = {extras = ["cscore"], version = "2025.3.2.0"}

[dev-packages]

[requires]
python_version = "3.13"
